@page "/individual-messages"
@using System.ComponentModel.DataAnnotations;

<h3>User Registration</h3>

@code {
    protected override void OnInitialized()
    {
    }

    public void Submit()
    {
    }
}

